/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  width: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*
  for no word warping
*/
* {
  white-space: nowrap;
}

@font-face {
  font-family: circular-light;
  src: url(../fonts/CircularStd-Light.otf);
}
@font-face {
  font-family: circular-mid;
  src: url(../fonts/CircularStd-Medium.otf);
}
@font-face {
  font-family: circular-bold;
  src: url(../fonts/CircularStd-Bold.otf);
}
body {
  font-family: circular-light;
}

.search__bar {
  line-height: 19px;
}

.search-bar__header-container,
.right__link {
  font-family: circular-mid;
  font-size: 15px;
}

.search-bar__footer-container {
  font-size: 12px;
  color: #888;
}

.btn__txt.guests {
  font-family: circular-light;
}

.small__header {
  width: 92%;
  height: 56px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px -1px 9px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin: 15px;
  margin-left: 25px;
  padding: 10px 15px;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  background-color: #fff;
}
.small__header:hover {
  cursor: pointer;
}

.sm-header__container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.sm-header__container:hover {
  cursor: pointer;
}

.sm-header__left {
  margin-left: -4px;
}

button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
  border-radius: 20px;
  border-color: transparent;
  background-color: #fff;
}
button:hover {
  cursor: pointer;
}

.search__bar {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.sm-header__right {
  margin-right: -5px;
  height: 37px;
  width: 37px;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(136, 136, 136, 0.3607843137);
  border-radius: 20px;
}

:is(.big__header, .big-header__mid, .big-header__right) {
  display: flex;
  align-items: center;
}

.big__header {
  width: 100%;
  height: 81px;
  justify-content: space-between;
  padding: 10px 95px;
  border-bottom: 1px solid rgba(139, 139, 139, 0.2117647059);
  gap: 10px;
}

.big-header__left {
  position: absolute;
  top: 23.8px;
  left: 80px;
}

.spacer {
  height: 80px;
  width: 300px;
  background-color: transparent;
  flex-shrink: 5;
}

.big-header__mid {
  height: 48px;
  box-shadow: 0px 7px 5px -5px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1333333333);
  padding: 10px 10px;
  border-radius: 2rem;
  gap: 6px;
  font-size: 15px;
  font-family: circular-mid;
  flex-shrink: 1;
}
.big-header__mid:hover {
  box-shadow: 16px 13px 8px -49px rgba(0, 0, 0, 0.1), 0px 10px 8px -3px rgba(0, 0, 0, 0.1), 0px 8px 2px -6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.6s ease 0.3s;
}
.big-header__mid .btn__txt {
  overflow: hidden;
  text-overflow: ellipsis;
}

.big-header__mid button {
  color: rgba(0, 0, 0, 0.7882352941);
}

.btn__splitter {
  display: block;
  width: 1px;
  height: 25px;
  background-color: rgba(96, 96, 96, 0.1725490196);
}

.search-icon__container {
  margin-right: -10px;
  background-color: #ff385c;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.big-header__right {
  display: flex;
  flex-flow: row nowrap;
  max-width: 300px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding-left: 40px;
  gap: 5px;
}

.right__link {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 10px 15px;
  border-radius: 20px;
}
.right__link:hover {
  background-color: rgba(136, 136, 136, 0.1019607843);
}

.earth {
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 45px;
  height: 43px;
}
.earth:hover {
  background-color: rgba(136, 136, 136, 0.1019607843);
}

.user-select__btn {
  display: flex;
  width: 80px;
  flex-flow: row nowrap;
  align-items: center;
  border: 1px solid rgba(73, 73, 73, 0.4);
  padding: 5px;
}
.user-select__btn:hover {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.burger__container {
  margin-left: 5px;
}

.categories {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  top: 88px;
  left: -8px;
  padding: 0px 25px;
  width: 100%;
}

.categories__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 2.3rem;
  height: 60px;
  padding: 10px 50px;
}
.categories__container .category__buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
  width: 150px;
}

.category {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 7px;
  height: 60px;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 16px;
}
.category:hover {
  cursor: pointer;
  border-bottom: 3px solid rgba(136, 136, 136, 0.4823529412);
}
.category:hover .category__txt {
  color: #000;
  transition: color 0.3s ease;
}
.category:hover img {
  filter: opacity(100%);
  transition: filter 0.3s ease;
}
.category .category__txt {
  font-size: 12px;
  font-weight: 700;
  color: #888;
  offset: 5px;
}
.category img {
  filter: opacity(60%);
}

.category__buttons {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  width: 240px;
  background: rgb(255, 255, 255);
  background: linear-gradient(270deg, rgb(255, 255, 255) 90%, rgba(255, 255, 255, 0.4038865546) 100%);
  gap: 20px;
  right: 0px;
}

.category__arrow-btn {
  border: 1px solid rgba(79, 79, 79, 0.337254902);
  border-radius: 90px;
  width: 28px;
  height: 28px;
}

.category__filter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;
  border: 1px solid rgba(92, 92, 92, 0.2392156863);
  height: 40px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 700;
  padding: 22px 15px;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid rgba(139, 139, 139, 0.2117647059);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.small-footer__container {
  width: 260px;
  height: 65px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: #b0b0b0;
}
.small-footer__container span {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.7529411765);
}

.small-footer__item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 5px;
}
.small-footer__item:hover {
  cursor: pointer;
}

.big-footer__container {
  display: none;
  width: 100%;
  padding: 0px 70px;
  justify-content: space-between;
  gap: 10px;
  font-size: 15px;
}

.big-footer__container-left {
  display: flex;
  flex-flow: row nowrap;
  flex-wrap: wrap;
  gap: 5px;
  align-content: center;
}

.dot {
  display: flex;
  flex-flow: column nowrap;
  width: 5px;
  height: 0px;
  align-self: first baseline;
}

.bg-footer-item__left {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}

.big-footer__container-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
}
.big-footer__container-right span {
  font-weight: 700;
}
.big-footer__container-right span:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (min-width: 744px) {
  .small__header,
  .small-footer__container {
    display: none;
  }
  .big__header {
    padding: 10px 50px;
  }
  .big-footer__container {
    display: flex;
    flex-flow: row nowrap;
  }
  .footer {
    padding: 12px;
  }
  .categories {
    top: 100px;
    left: 5px;
    padding: 20px 25px;
  }
  .categories .categories__container {
    gap: 3.3rem;
  }
}
@media only screen and (max-width: 744px) {
  .big__header {
    display: none;
  }
  .category__buttons {
    display: none;
  }
}
@media only screen and (max-width: 1128px) {
  .big-header__left {
    width: 30px;
  }
  .category__buttons {
    width: 190px;
  }
}
@media only screen and (max-width: 1440px) {
  .big__header {
    padding: 10px 50px;
  }
  .big-header__left {
    left: 40px;
  }
  .categories__container {
    padding: 10px 10px;
  }
  .category__buttons {
    width: 185px;
  }
  .big-footer__container {
    padding: 0px 60px;
  }
}
@media only screen and (max-width: 950px) {
  .spacer {
    display: none;
  }
  .big__header {
    padding: 10px 50px 10px 90px;
  }
}
@media only screen and (max-width: 800px) {
  .big__header {
    gap: 0;
  }
}/*# sourceMappingURL=main.css.map */