/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  width: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: circular-light;
  src: url(../fonts/CircularStd-Light.otf);
}
@font-face {
  font-family: circular-mid;
  src: url(../fonts/CircularStd-Medium.otf);
}
@font-face {
  font-family: circular-bold;
  src: url(../fonts/CircularStd-Bold.otf);
}
body {
  font-family: circular-light;
}

.search__bar {
  line-height: 19px;
}

.search-bar__header-container,
.right__link {
  font-family: circular-mid;
  font-size: 15px;
}

.search-bar__footer-container {
  font-size: 12px;
  color: #888;
}

.btn__txt.guests {
  font-family: circular-light;
}

.small__header {
  width: 88%;
  height: 56px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px -1px 9px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin: 15px;
  margin-left: 25px;
  padding: 10px 15px;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  background-color: #fff;
}
.small__header:hover {
  cursor: pointer;
}

.sm-header__container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.sm-header__container:hover {
  cursor: pointer;
}

.sm-header__left {
  margin-left: -4px;
}

button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
  border-radius: 20px;
  border-color: transparent;
  background-color: #fff;
}
button:hover {
  cursor: pointer;
}

.search__bar {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.sm-header__right {
  margin-right: -5px;
  height: 37px;
  width: 37px;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(136, 136, 136, 0.3607843137);
  border-radius: 20px;
}

:is(.big__header, .big-header__mid, .big-header__right) {
  display: flex;
  align-items: center;
}

.big__header {
  width: 100%;
  height: 78px;
  justify-content: space-between;
  padding: 10px 90px;
  border-bottom: 1px solid rgba(139, 139, 139, 0.2117647059);
  gap: 10px;
}

.big-header__left {
  position: absolute;
  left: 80px;
}

.spacer {
  height: 80px;
  width: 320px;
  background-color: transparent;
  flex-shrink: 5;
}

.big-header__mid {
  height: 48px;
  box-shadow: 0px 7px 5px -5px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1333333333);
  padding: 10px 10px;
  border-radius: 2rem;
  gap: 10px;
  font-size: 15px;
  font-family: circular-mid;
  flex-shrink: 1;
}
.big-header__mid:hover {
  box-shadow: 16px 13px 8px -49px rgba(0, 0, 0, 0.1), 0px 10px 8px -3px rgba(0, 0, 0, 0.1), 0px 8px 2px -6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.6s ease 0.3s;
}
.big-header__mid .btn__txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.big-header__mid button {
  color: rgba(0, 0, 0, 0.7882352941);
}

.btn__splitter {
  display: block;
  width: 1px;
  height: 25px;
  background-color: rgba(96, 96, 96, 0.1725490196);
}

.search-icon__container {
  margin-right: -10px;
  background-color: #ff385c;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.big-header__right {
  display: flex;
  flex-flow: row nowrap;
  max-width: 300px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding-left: 40px;
  gap: 5px;
}

.right__link {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 10px 15px;
  border-radius: 20px;
}
.right__link:hover {
  background-color: rgba(136, 136, 136, 0.1019607843);
}

.earth {
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 45px;
  height: 43px;
}
.earth:hover {
  background-color: rgba(136, 136, 136, 0.1019607843);
}

.user-select__btn {
  display: flex;
  width: 80px;
  flex-flow: row nowrap;
  align-items: center;
  border: 1px solid rgba(73, 73, 73, 0.4);
  padding: 5px;
}
.user-select__btn:hover {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.burger__container {
  margin-left: 5px;
}

.categories {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  top: 100px;
  padding: 0px 20px;
  width: 100vw;
}

.categories__container {
  display: flex;
  flex-flow: row nowrap;
  gap: 3rem;
  height: 70px;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 50px;
}

.category {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 7px;
}
.category .category__txt {
  font-size: 12px;
}

.category__arrow-btn {
  border: 1px solid #000;
  border-radius: 90px;
}

.category__filter {
  border: 1px solid #000;
  height: 40px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 700;
}

@media only screen and (min-width: 744px) {
  .small__header {
    display: none;
  }
}
@media only screen and (max-width: 744px) {
  .big__header {
    display: none;
  }
}
@media only screen and (max-width: 1128px) {
  .big-header__left {
    width: 30px;
  }
}
@media only screen and (max-width: 1440px) {
  .big__header {
    padding: 10px 50px;
  }
  .big-header__left {
    left: 40px;
  }
}
@media only screen and (max-width: 950px) {
  .spacer {
    display: none;
  }
  .big__header {
    padding: 10px 50px 10px 90px;
  }
}
@media only screen and (max-width: 800px) {
  .big__header {
    gap: 0;
  }
}/*# sourceMappingURL=main.css.map */