//categories starts here
.categories {
  position: absolute;
  @include flex_row;
  align-items: center;

  top: 88px;
  left: -8px;
  padding: 0px 25px;
  width: 100%;
  overflow: hidden;
}

.categories__container {
  @include flex_row;
  align-items: center;
  gap: 2.3rem;
  height: 60px;
  padding: 10px 50px;

  .category__buttons {
    @include flex_row;
    align-items: center;
    gap: 20px;
    width: 150px;
  }
}

.category {
  @include flex_col;
  align-items: center;
  gap: 7px;
  height: 60px;
  width: fit-content;
  line-height: 16px;
  &:hover {
    .category__txt {
      color: #000;
      transition: color 0.3s ease;
    }
    img {
      filter: opacity(100%);
      transition: filter 0.3s ease;
    }

    cursor: pointer;
    border-bottom: 3px solid #8888887b;
  }

  .category__txt {
    font-size: 12px;
    font-weight: 700;
    color: #888;
    offset: 5px;
  }

  img {
    filter: opacity(60%);
  }
}

.category__buttons {
  position: absolute;
  @include flex_row;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  width: 240px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 0.40388655462184875) 100%
  );
  gap: 20px;
  right: 0px;
  top: 99px;
}

.category__arrow-btn {
  border: 1px solid #4f4f4f56;
  border-radius: 90px;
  width: 28px;
  height: 28px;
}

.category__filter {
  @include flex_row;
  align-items: center;
  gap: 8px;
  border: 1px solid #5c5c5c3d;
  height: 40px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 700;
  padding: 22px 15px;
}

// categories ends here !
