//place categories starts here
.categories {
  position: fixed;
  @include flex_row;

  top: 100px;
  padding: 0px 25px;
  width: 100%;
}

.categories__container {
  @include flex_row;
  align-items: center;
  gap: 2.6rem;
  height: 50px;
  width: max-content;
  padding: 10px 50px;

  .category__buttons {
    @include flex_row;
    align-items: center;
    gap: 20px;
    width: 150px;
  }
}

.category {
  @include flex_col;
  align-items: center;
  gap: 7px;
  height: 50px;
  width: fit-content;

  &:hover {
    .category__txt {
      color: #000;
    }
    img {
      filter: opacity(100%);
    }

    cursor: pointer;
  }

  .category__txt {
    font-size: 12px;
    font-weight: 700;
    color: #888;
    white-space: nowrap;
  }

  img {
    filter: opacity(60%);
  }
}

.category__arrow-btn {
  border: 1px solid #4f4f4f56;
  border-radius: 90px;
  width: 28px;
  height: 28px;
}

.category__filter {
  @include flex_row;
  align-items: center;
  gap: 8px;
  border: 1px solid #5c5c5c3d;
  height: 40px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 700;
  padding: 22px 15px;
}
