@font-face {
  font-family: circular-light;
  src: url(../fonts/CircularStd-Light.otf);
}

@font-face {
  font-family: circular-mid;
  src: url(../fonts/CircularStd-Medium.otf);
}

@font-face {
  font-family: circular-bold;
  src: url(../fonts/CircularStd-Bold.otf);
}

body {
  font-family: circular-light;
}

.search__bar {
  line-height: 19px;
}

.search-bar__header-container {
  font-family: circular-mid;
  font-size: 15px;
}

.search-bar__footer-container {
  font-size: 12px;
  color: #888;
}
