// footer starts here !

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #8b8b8b36;
  @include flex_row;
  justify-content: center;
}

.small-footer__container {
  width: 260px;
  height: 65px;
  @include flex_row;
  justify-content: space-between;
  align-items: center;
  color: #b0b0b0;

  span {
    font-size: 11px;
    color: #000000c0;
  }
}

.small-footer__item {
  @include flex_col;
  align-items: center;
  gap: 5px;

  &:hover {
    cursor: pointer;
  }
}

.big-footer__container {
  display: none;
  width: 100%;
  padding: 0px 70px;
  justify-content: space-between;
  gap: 10px;
  font-size: 15px;
}

.big-footer__container-left {
  @include flex_row;
  flex-wrap: wrap;
  gap: 5px;
  align-content: center;
  min-width: 300px;
  line-height: 16px;
}

.dot {
  @include flex_col;

  width: 5px;
  height: 0px;
  align-self: first baseline;
}

.bg-footer-item__left {
  @include flex_row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}

.big-footer__container-right {
  @include flex_row;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;

  span {
    font-weight: 700;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

// footer ends here !
