//  small screen header start here !

.small__header {
  width: 88%;
  height: 56px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px -1px 9px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin: 15px;
  margin-left: 25px;
  padding: 10px 15px;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  background-color: #fff;

  &:hover {
    cursor: pointer;
  }
}

.sm-header__container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.sm-header__left {
  margin-left: -4px;
}

button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
  border-radius: 20px;
  border-color: transparent;
  background-color: #fff;

  &:hover {
    cursor: pointer;
  }
}

.search__bar {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.sm-header__right {
  margin-right: -5px;
  height: 37px;
  width: 37px;
  display: flex;
  justify-content: center;
  border: 1px solid #8888885c;
  border-radius: 20px;
}

//small header ends here !

//  big screen header start here !

:is(.big__header, .big-header__mid, .big-header__right) {
  display: flex;
  align-items: center;
}

.big__header {
  width: 100%;
  height: 78px;
  justify-content: space-between;
  padding: 10px 90px;
  border-bottom: 1px solid #8b8b8b36;
  gap: 10px;
}

.big-header__left {
  position: absolute;
  left: 80px;
}

.spacer {
  height: 80px;
  width: 320px;
  background-color: transparent;
  flex-shrink: 5;
}

.big-header__mid {
  height: 48px;
  box-shadow: 0px 7px 5px -5px rgba(0, 0, 0, 0.1);
  border: 1px solid #00000022;
  padding: 10px 10px;
  border-radius: 2rem;
  gap: 10px;
  font-size: 15px;
  font-family: circular-mid;
  flex-shrink: 1;

  &:hover {
    box-shadow: 16px 13px 8px -49px rgba(0, 0, 0, 0.1),
      0px 10px 8px -3px rgba(0, 0, 0, 0.1), 0px 8px 2px -6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.6s ease 0.3s;
  }

  .btn__txt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.big-header__mid button {
  color: #000000c9;
}

.btn__splitter {
  display: block;
  width: 1px;
  height: 25px;
  background-color: #6060602c;
}

.search-icon__container {
  margin-right: -10px;
  background-color: #ff385c;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.big-header__right {
  display: flex;
  flex-flow: row nowrap;
  max-width: 300px;
  min-width: fit-content;
  padding-left: 40px;
  gap: 5px;
}

.right__link {
  display: block;
  text-decoration: none;
  color: #000;
  &:hover {
    background-color: #8888881a;
  }
  padding: 10px 15px;
  border-radius: 20px;
}

.earth {
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 45px;
  height: 43px;

  &:hover {
    background-color: #8888881a;
  }
}

.user-select__btn {
  display: flex;
  width: 80px;
  flex-flow: row nowrap;
  align-items: center;
  border: 1px solid #49494966;
  padding: 5px;

  &:hover {
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
}

.burger__container {
  margin-left: 5px;
}

// big header ends here !
