//  small screen header start here !

.small__header {
  width: 93%;
  height: 58px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px -1px 9px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin: 15px;
  margin-left: 20px;
  padding: 10px 15px;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  background-color: #fff;

  &:hover {
    cursor: pointer;
  }
}

.sm-header__container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.sm-header__left {
  margin-left: -4px;
}

button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
  border-radius: 20px;
  border-color: transparent;
  background-color: #fff;

  &:hover {
    cursor: pointer;
  }
}

.search__bar {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.sm-header__right {
  margin-right: -5px;
  height: 37px;
  width: 37px;
  display: flex;
  justify-content: center;
  border: 1px solid #8888885c;
  border-radius: 20px;
}

//  big screen header start here !

:is(.big__header, .big-header__mid, .big-header__right) {
  display: flex;
  align-items: center;
}

.big__header {
  width: 100%;
  height: 80px;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 1px solid #8b8b8b36;
}

.big-header__mid {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
  border-radius: 2rem;
  gap: 10px;
  font-size: 15px;
  font-family: circular-mid;
}

.big-header__mid button {
  color: #000000c9;
}

.btn__splitter {
  display: block;
  width: 1px;
  height: 25px;
  background-color: #6060602c;
}
