.locations{
    width: 100%;
    height: 100%;
    padding: 10px 50px;
    display: grid;
    grid-template-rows: 300px 300px 300px 300px 300px ;
    grid-template-columns: auto ;
    gap: 50px 10px;

    .locations__container{

        display: grid;
        grid-template-columns: auto auto auto auto;
        
        grid-template-rows:50px;
        gap: 10px 10px;
        padding: 10px 30px;
        

    }


}

.location__card{
    overflow: hidden;
    object-fit:cover;
    height: 300px;
    width: 320px;

    border-radius: 20px;
}





.card__image{
    display:flex;
    width: fit-content;
    object-fit: cover;
}