// small header

@media only screen and (min-width: 744px) {
  .small__header,
  .small-footer__container {
    display: none;
  }
  .big__header {
    padding: 10px 50px;
  }

  .big-footer__container {
    @include flex_row;
  }

  .categories {
    top: 100px;
    left: 5px;

    .categories__container {
      gap: 3.3rem;
    }
  }
}

@media only screen and (max-width: 744px) {
  .big__header {
    display: none;
  }
  .category__buttons {
    display: none;
  }
}

@media only screen and (max-width: 1128px) {
  .big-header__left {
    width: 30px;
  }

  .category__buttons {
    width: 190px;
  }
}

@media only screen and (max-width: 1440px) {
  .big__header {
    padding: 10px 50px;
  }
  .big-header__left {
    left: 40px;
  }

  .categories__container {
    padding: 10px 10px;
  }
  .category__buttons {
    width: 185px;
  }

  .big-footer__container {
    padding: 0px 60px;
  }
}

@media only screen and (max-width: 950px) {
  .spacer {
    display: none;
  }

  .big__header {
    padding: 10px 50px 10px 90px;
  }
}

@media only screen and (max-width: 800px) {
  .big__header {
    gap: 0;
  }
}
